<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests">
    <test name="Test">
        <listeners>
            <listener class-name="com.qa.listeners.TestListeners" />
        </listeners>
        <parameter name="platformName" value="Android" />
        <parameter name="platformVersion" value="10.0" />
        <parameter name="deviceName" value="Pixel_5" />
        <classes>
            <class name="com.qa.tests.LoginTests"/>
        </classes>
    </test>
</suite> <!-- Suite -->